<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>PersonaFisicaServiceImpl</servlet-name>
        <servlet-class>org.berna.server.PersonaFisicaServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserService</servlet-name>
        <servlet-class>org.berna.server.UserServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginService</servlet-name>
        <servlet-class>org.berna.server.LoginServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AziendaService</servlet-name>
        <servlet-class>org.berna.server.AziendaServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LavoratoreService</servlet-name>
        <servlet-class>org.berna.server.LavoratoreServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>org.berna.server.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>org.berna.server.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoService</servlet-name>
        <servlet-class>org.berna.server.InfoServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PresenzaService</servlet-name>
        <servlet-class>org.berna.server.PresenzaServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonaFisicaServiceImpl</servlet-name>
        <url-pattern>/org.berna.Main/PersonaFisicaService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserService</servlet-name>
        <url-pattern>/org.berna.Main/userservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginService</servlet-name>
        <url-pattern>/org.berna.Main/loginservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AziendaService</servlet-name>
        <url-pattern>/org.berna.Main/aziendaservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LavoratoreService</servlet-name>
        <url-pattern>/org.berna.Main/lavoratoreservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoService</servlet-name>
        <url-pattern>/org.berna.Main/infoservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PresenzaService</servlet-name>
        <url-pattern>/org.berna.Main/presenzaservice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcomeGWT.html</welcome-file>
    </welcome-file-list>
</web-app>
